# Virtual environment
.venv/

# Data files (raw and processed)
data/
pmdadata/


# Python cache
__pycache__/
*.pyc

# SQLite database file
*.sqlite
*.db

# Log files
*_log.txt
full_load_log.txt
load_log.txt

# IDE/Editor specific
.idea/
.vscode/
